/* iThub MultiPurpose Business HTML-5 Template */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header / Two / Three
5. Slider One / Two / Three / Four
6. About One / Two / Three
7. Clients One / Two
8. Marketing One
9. Achieve One
10. Video One
11. Process One
12. Offer One / Two
13. Testimonial One / Two
14. Team One / Two
15. Increadible One
16. Experiance One
17. News One / Two / Three
18. Main Footer / Two / Three
19. Services One
20. Gallery One / Two
21. Faq One
22. Price One
23. Main Footer / Two
24. Empower One
25. Inspire One
26. Business One
27. Contact One
28. CTA One
29. Privacy Policy
30. Terms & Conditions
31. Sidebar Widgets
32. Shops
33. Cart
34. CheckOut
35. Register / Login
36. Coming Soon
37. Blog Classic
38. Blog Detail
39. Comments Form
40. Comments Box
41. Not Found / 404
42. Contact Form
43. Map
44. Info Box

**********************************************/

/* 

	font-family: "Outfit", serif;
	font-family: 'Manrope', sans-serif;

*/

/*** 

====================================================================
	Root Code Variables
====================================================================

 ***/

.theme_color {
	color: var(--main-color);
}

/* Theme Color */

:root {

	/* #000DFF in decimal RGB */
	--main-color: rgb(0, 13, 255);
	--main-color-rgb: 0, 13, 255;

	/* #C115EC in decimal RGB */
	--color-two: rgb(193, 21, 236);
	--color-two-rgb: 193, 21, 236;

	/* #DDDDDD in decimal RGB */
	--color-three: rgb(221, 221, 221);
	--color-three-rgb: 221, 221, 221;

	/* #F2F2F2 in decimal RGB */
	--color-four: rgb(242, 242, 242);
	--color-four-rgb: 242, 242, 242;




	/* #ffffff in decimal RGB */
	--white-color: rgb(255, 255, 255);
	--white-color-rgb: 255, 255, 255;

	/* #000000 in decimal RGB */
	--black-color: rgb(0, 0, 0);
	--black-color-rgb: 0, 0, 0;

}

/*** 

====================================================================
	Reset
====================================================================

 ***/

* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}

/*** 

====================================================================
	Global Settings
====================================================================

***/


/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-three);
}

body {
	font-family: 'Manrope', sans-serif;
	line-height: 1.6em;
	font-weight: 400;
	font-size: 14px;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.text-left {
	text-align: left;
}

.dark-layout {
	position: relative;
	background-color: var(--black-color);
}

/* Preloader */

.preloader {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 13, 255, 1);
	background-image: linear-gradient(90deg, rgba(0, 13, 255, 1) 0%, rgba(193, 21, 236, 1) 100%);
	z-index: 9999999;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.preloader .box {
	position: relative;
	width: 60px;
	height: 60px;
	animation: bounce 1s infinite ease-in-out;
}

.preloader .box:after,
.preloader .box:before {
	content: '';
	position: absolute;
	background: #fff;
	border-radius: 50%;
}

.preloader .box:after {
	width: 60px;
	height: 60px;
	animation: pulse 1s infinite ease-in-out;
}

.preloader .box:before {
	width: 15px;
	height: 15px;
	top: 50%;
	left: 50%;
	margin-top: -7.5px;
	margin-left: -7.5px;
	animation: small-bounce 1s infinite ease-in-out;
}

/* Keyframe Animations */

@keyframes bounce {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}
}

@keyframes pulse {

	0%,
	100% {
		transform: scale(1);
		opacity: 0.8;
	}

	50% {
		transform: scale(1.5);
		opacity: 0.4;
	}
}

@keyframes small-bounce {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}
}


i {
	font-style: normal;
}

.bordered-layout .page-wrapper {
	padding: 0px 50px 0px;
}

a {
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	color: var(--main-color);
}

button,
a:hover,
a:focus,
a:visited {
	text-decoration: none;
	outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	margin: 0px;
	background: none;
	font-weight: 700;
	color: var(--black-color);
	font-family: "Outfit", serif;
}

input,
button,
select,
textarea {}

textarea {
	overflow: hidden;
}

.text,
p {
	position: relative;
	line-height: 1.7em;
	color: #666666;
	font-size: 16px;
}

/* Typography */

h1 {
	line-height: 110px;
	font-size: 96px;
}

h2 {
	line-height: 70px;
	font-size: 60px;
}

h3 {
	line-height: 42px;
	font-size: 32px;
}

h4 {
	line-height: 34px;
	font-size: 26px;
}

h5 {
	line-height: 30px;
	font-size: 20px;
}

h6 {
	line-height: 28px;
	font-size: 18px;
}

.auto-container {
	position: static;
	max-width: 1320px;
	padding: 0px 15px;
	margin: 0 auto;
}

.auto-container_two {
	position: static;
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
}

.page-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 300px;
}

ul,
li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

img {
	display: inline-block;
	max-width: 100%;
}

.theme-btn {
	cursor: pointer;
	display: inline-block;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.centered {
	text-align: center;
}

::-webkit-input-placeholder {
	color: inherit;
}

::-moz-input-placeholder {
	color: inherit;
}

::-ms-input-placeholder {
	color: inherit;
}

/***

====================================================================
	Scroll To Top style
====================================================================

***/

/* backtoup */
.progress-wrap {
	position: fixed;
	right: 30px;
	bottom: 40px;
	height: 35px;
	width: 35px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.20);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	transform: translateY(15px);
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
}

.progress-wrap::after {
	position: absolute;
	content: '\f176';
	font-family: "Font Awesome 5 Free";
	text-align: center;
	line-height: 35px;
	font-size: 15px;
	color: var(--main-color);
	left: 0;
	top: 0;
	height: 35px;
	width: 35px;
	cursor: pointer;
	display: block;
	font-weight: 700;
	z-index: 1;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	font-size: 13px;
}

.progress-wrap svg path {
	fill: none;
}

.progress-wrap svg.progress-circle path {
	stroke: var(--main-color);
	stroke-width: 4;
	box-sizing: border-box;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap.style2::after {
	color: var(--thm-color-2);
}

.progress-wrap.style2 svg.progress-circle path {
	stroke: var(--thm-color-2);
}

.progress-wrap.style3::after {
	color: var(--thm-color-3);
}

.progress-wrap.style3 svg.progress-circle path {
	stroke: var(--thm-color-3);
}

/* List Style One */

.list-style-one {
	position: relative;
}

.list-style-one li {
	position: relative;
	color: var(--white-color);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8em;
	margin-bottom: 10px;
	padding-left: 30px;
}

.list-style-one li a {
	position: relative;
	color: var(--white-color);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.list-style-one li a:hover {
	color: var(--main-color);
}

.list-style-one li .icon {
	position: absolute;
	left: 0px;
	top: 5px;
	color: var(--main-color);
	font-size: 18px;
	line-height: 1em;
	font-weight: 300;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

/* Btn Style One */

.btn-style-one {
	position: relative;
	font-weight: 700;
	font-size: 15px;
	overflow: hidden;
	text-align: center;
	border-radius: 50px;
	padding: 16px 34px;
	display: inline-block;
	color: var(--white-color);
	text-transform: capitalize;
	font-family: 'Manrope', sans-serif;
	background-color: rgba(0, 13, 255, 1);
	background-image: linear-gradient(90deg, rgba(0, 13, 255, 1) 0%, rgba(193, 21, 236, 1) 100%);
}

.btn-style-one:before {
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: -200%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background-image: linear-gradient(90deg, rgba(193, 21, 236, 1) 0%, rgba(0, 13, 255, 1) 100%);
}

.btn-style-one:hover:before {
	top: 0%;
}

.btn-style-one .btn-wrap {
	position: relative;
	z-index: 1;
	float: left;
	overflow: hidden;
	display: inline-block;
}

.btn-style-one .btn-wrap .text-one {
	position: relative;
	display: block;
	color: var(--white-color);
	transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-one:hover .btn-wrap .text-one:first-child {
	-webkit-transform: translateY(-150%);
	-ms-transform: translateY(-150%);
	transform: translateY(-150%);
}

.btn-style-one .btn-wrap .text-two {
	position: absolute;
	top: 100%;
	display: block;
	color: var(--white-color);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn-style-one:hover .btn-wrap .text-two {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.btn-style-one:hover .btn-wrap .text-two {
	color: var(--white-color);
}

.btn-style-one:hover {}

.btn-style-one:hover:before {
	top: -40%;
}

/* Btn Style Two */

.btn-style-two {
	position: relative;
	font-weight: 700;
	font-size: 15px;
	overflow: hidden;
	text-align: center;
	padding: 20px 48px;
	border-radius: 50px;
	display: inline-block;
	color: var(--black-color);
	text-transform: capitalize;
	font-family: 'Manrope', sans-serif;
	background-color: var(--white-color);
}

.btn-style-two:before {
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: -200%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background-image: linear-gradient(90deg, rgba(193, 21, 236, 1) 0%, rgba(0, 13, 255, 1) 100%);
}

.btn-style-two:hover:before {
	top: 0%;
}

.btn-style-two .btn-wrap {
	position: relative;
	z-index: 1;
	float: left;
	overflow: hidden;
	display: inline-block;
}

.btn-style-two .btn-wrap .text-one {
	position: relative;
	display: block;
	color: var(--black-color);
	transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-two:hover .btn-wrap .text-one:first-child {
	-webkit-transform: translateY(-150%);
	-ms-transform: translateY(-150%);
	transform: translateY(-150%);
}

.btn-style-two .btn-wrap .text-two {
	position: absolute;
	top: 100%;
	display: block;
	color: var(--white-color);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn-style-two:hover .btn-wrap .text-two {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.btn-style-two:hover .btn-wrap .text-two {
	color: var(--white-color);
}

.btn-style-two:hover {}

.btn-style-two:hover:before {
	top: -40%;
}

/* Btn Style Three */

.btn-style-three {
	position: relative;
	font-weight: 700;
	font-size: 16px;
	overflow: hidden;
	text-align: center;
	border-radius: 50px;
	padding: 20px 50px;
	display: inline-block;
	color: var(--white-color);
	text-transform: capitalize;
	background-color: var(--black-color);
}

.btn-style-three:before {
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: -200%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background-color: rgba(0, 13, 255, 1);
	background-image: linear-gradient(90deg, rgba(0, 13, 255, 1) 0%, rgba(193, 21, 236, 1) 100%);
}

.btn-style-three:hover:before {
	top: 0%;
}

.btn-style-three .btn-wrap {
	position: relative;
	z-index: 1;
	float: left;
	overflow: hidden;
	display: inline-block;
}

.btn-style-three .btn-wrap .text-one {
	position: relative;
	display: block;
	color: var(--white-color);
	transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.btn-style-three:hover .btn-wrap .text-one:first-child {
	-webkit-transform: translateY(-150%);
	-ms-transform: translateY(-150%);
	transform: translateY(-150%);
}

.btn-style-three .btn-wrap .text-two {
	position: absolute;
	top: 100%;
	display: block;
	color: var(--white-color);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn-style-three:hover .btn-wrap .text-two {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.btn-style-three:hover .btn-wrap .text-two {
	color: var(--white-color);
}

.btn-style-three:hover {}

.btn-style-three:hover:before {
	top: -40%;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

/*** 

====================================================================
	Section Title
====================================================================

***/

.sec-title {
	position: relative;
	z-index: 2;
	margin-bottom: 40px;
}

.sec-title_title {
	position: relative;
	font-weight: 700;
	font-size: 18px;
	display: flex;
	gap: 15px;
	align-items: center;
	color: var(--main-color);
	text-transform: uppercase;
}

.sec-title_dots {
	position: relative;
}

.sec-title_dots span:nth-child(1) {
	animation-delay: 0s;
}

.sec-title_dots span:nth-child(2) {
	animation-delay: 0.5s;
}

.sec-title_dots span:nth-child(3) {
	animation-delay: 1s;
}

@keyframes zoom-in-out {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	20% {
		transform: scale(1.2);
		opacity: 1;
	}

	50% {
		transform: scale(1);
		opacity: 1;
	}

	80% {
		transform: scale(0.8);
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.sec-title_dots span {
	position: relative;
	width: 10px;
	height: 10px;
	margin-right: 4px;
	border-radius: 50px;
	display: inline-block;
	animation: zoom-in-out 3s infinite;
	opacity: 0;
	background-color: rgba(0, 13, 255, 0);
	background-image: linear-gradient(0deg, rgba(0, 13, 255, 1) 0%, rgba(193, 21, 236, 1) 100%);
}

.sec-title_heading {
	margin-top: 15px;
	color: var(--black-color);
	text-transform: capitalize;
}

.sec-title_text {
	line-height: 30px;
	font-size: 16px;
	margin-top: 20px;
	color: #666666;
}

.sec-title.light .sec-title_title {
	color: var(--white-color);
}

.sec-title.light .sec-title_title span {
	background-color: rgba(255, 255, 255, 0);
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.sec-title.light .sec-title_big-title {
	-webkit-text-stroke-color: rgba(var(--color-three-rgb), 0.30);
}

.sec-title.light .sec-title_text {
	opacity: 1;
	color: var(--white-color);
}

.sec-title.light .sec-title_heading {
	color: var(--white-color);
}

.sec-title.centered {
	text-align: center !important;
}

.sec-title.centered .sec-title_title {
	justify-content: center;
}

/* Custom Select */

.form-group .ui-selectmenu-button.ui-button {
	top: -2px;
	width: 100%;
	border: 0px;
	padding: 15px 25px;
	font-weight: 500;
	line-height: 28px;
	font-size: 16px;
	color: var(--color-four);
	background-color: var(--white-color);
	border: 1px solid rgba(var(--black-color-rgb), 0.08);
}

.form-group .ui-button .ui-icon {
	background: none;
	position: relative;
	top: 3px;
	text-indent: 0px;
	color: #a5a5a5;
}

.form-group .ui-button .ui-icon:before {
	font-family: 'FontAwesome';
	content: "\f107";
	position: absolute;
	right: 0px;
	top: 2px !important;
	top: 10px;
	height: 22px;
	display: block;
	line-height: 20px;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	z-index: 5;
	color: var(--color-three);
}

.ui-menu .ui-menu-item {
	font-size: 14px;
}

.ui-menu .ui-menu-item:last-child {
	border: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
	background-color: var(--main-color) !important;
	border-color: var(--main-color) !important;
}

.ui-menu .ui-menu-item-wrapper {
	position: relative;
	display: block;
	padding: 8px 20px;
	line-height: 24px;
	font-size: 14px;
}

.ui-menu-item:hover {
	background-color: var(--color-two);
}

/* Cursor */

/* .cursor {
	position: fixed;
	background-color: var(--main-color);
	width: 10px;
	height: 10px;
	border-radius: 100%;
	z-index: 1;
	-webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.cursor.active {
	opacity: 1;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.cursor.menu-active {
	opacity: 1;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.cursor.hovered {
	opacity: 1;
}

.cursor-follower {
	position: fixed;
	border: 0.5px solid var(--main-color);
	width: 30px;
	height: 30px;
	border-radius: 100%;
	z-index: 1;
	-webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	-webkit-transform: translate(2px, 2px);
	transform: translate(2px, 2px);
}

.cursor-follower.active {
	opacity: 1;
	-webkit-transform: scale(2);
	transform: scale(2);
}

.cursor-follower.menu-active {
	opacity: 1;
	-webkit-transform: scale(2);
	transform: scale(2);
}

.cursor-follower.hovered {
	opacity: 1;
} */

/* Cursor End */

.xs-sidebar-group .close-button {
	font-family: "Flaticon";
}

.newsletter-popup-area-section {
	display: none;
}

.ui-datepicker td span,
.ui-datepicker td a {
	text-align: center !important;
}

/* Shop Sidebar */

.xs-sidebar-group .xs-overlay {
	left: 100%;
	top: 0;
	position: fixed;
	z-index: 999999;
	height: 100%;
	opacity: 0;
	width: 100%;
	visibility: hidden;
	-webkit-transition: all 0.4s ease-in 0.8s;
	-o-transition: all 0.4s ease-in 0.8s;
	transition: all 0.4s ease-in 0.8s;
	cursor: url(../images/cross-out.png), pointer;
}

.xs-sidebar-group .close-button {
	position: absolute;
	top: 15px;
	right: 20px;
	z-index: 10;
	cursor: pointer;
	font-size: var(--font-18);
}

.xs-sidebar-group .close-button .mdi {
	color: var(--color-four);
	font-size: var(--font-14);
	font-family: "Material Design Icons";
}

.xs-sidebar-group .close-button .mdi:hover {
	color: var(--black-color);
}

.xs-sidebar-widget:nth-child(2) {
	right: -380px;
}

.xs-sidebar-widget {
	position: fixed;
	right: -100%;
	top: 0;
	bottom: 0;
	width: 100%;
	max-width: 370px;
	z-index: 999999;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #ffffff;
	-webkit-transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.3s;
	-o-transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.3s;
	transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.3s;
}

.xs-sidebar-group.isActive .xs-overlay {
	opacity: 0.7;
	visibility: visible;
	-webkit-transition: all 0.8s ease-out 0s;
	-o-transition: all 0.8s ease-out 0s;
	transition: all 0.8s ease-out 0s;
	left: 0;
}

.xs-sidebar-group.isActive .xs-sidebar-widget {
	opacity: 1;
	visibility: visible;
	right: 0px;
	-webkit-transition: all 0.8s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
	-o-transition: all 0.7s cubic-bezier(0.8, 0.03, 0, 0.96) 0.4s;
	transition: all 0.8s cubic-bezier(0.9, 0.03, 0, 0.96) 0.4s;
}

.sidebar-textwidget {
	padding: 0px;
}

.close-side-widget {
	font-size: rem(15px);
	display: block;
}

.sidebar-widget-container {
	position: relative;
	top: 0px;
	-webkit-transition: all 0.3s ease-in 0.3s;
	-o-transition: all 0.3s ease-in 0.3s;
	transition: all 0.3s ease-in 0.3s;
}

.xs-sidebar-group.isActive .sidebar-widget-container {
	-webkit-transition: all 1s ease-out 1.2s;
	-o-transition: all 1s ease-out 1.2s;
	transition: all 1s ease-out 1.2s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.xs-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 0;
}

.xs-bg-black {
	background-color: #000000;
}

.xs-menu-tools>li {
	display: inline-block;
	margin-right: 15px;
}

.xs-menu-tools>li:last-child {
	margin-right: 0;
}

.xs-menu-tools>li>a {
	color: #000000;
	text-decoration: none;
}

.nav-alignment-dynamic,
.nav-alignment-flex-start {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}